{% extends 'layout.html' %} 
{% block styles %}
<style>
    body {
        position: relative;
        min-height: calc(100vh - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    h2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    @media (max-width:500px) {
        h2 {
            font-size: 2rem;
        }
    }
    h2 + p {
        color: #555;
    }
</style>
{% endblock %}
{% block content %}
<h2>Error: <span>404</span></h2>
<p>Link not found or link expired</p>
{% endblock %}
