{% extends 'layout.html' %} {% block content %}
<h1>Welcome, {{ current_user.username }}!</h1>
<div class="url-input">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
      {{ form.url(size=32) }} <br />
      {% for error in form.url.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div>{{ form.submit( class='btn') }}</div>
  </form>
</div>
<div class="urls">
  {% for url in urls %}
  <div class="card">
    <div>
      <h2>{{ url.url }}</h2>
      <p>
        {{ url.shorten_url }}
        <button onclick="copyToClipboard(this,'{{ url.shorten_url }}')">
          <i class="fa-regular fa-clone"></i>
        </button>
      </p>
    </div>
    <div>
      <a href="{{ url.shorten_url }}" target="_blank"
        ><i class="fa-solid fa-link"></i
      ></a>
      <a href="{{ url_for('delete_url', url_id=url.id) }}"
        ><i class="fa-solid fa-x"></i
      ></a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block scripts %}
<script>
  function copyToClipboard(button, urlToCopy) {
    const inputElement = document.createElement("input");
    inputElement.setAttribute("value", urlToCopy);
    document.body.appendChild(inputElement);

    inputElement.select();
    inputElement.setSelectionRange(0, 99999);

    document.execCommand("copy");

    document.body.removeChild(inputElement);

    button.querySelector("i").classList.add("fa-solid", "fa-check");
    button.querySelector("i").classList.remove("fa-regular", "fa-clone");
    
    setTimeout(function () {
      button.querySelector("i").classList.add("fa-regular", "fa-clone");
      button.querySelector("i").classList.remove("fa-solid", "fa-check");
    }, 2000);
  }
</script>
{% endblock %}
